*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd,
picture {
  margin: 0;
}

body {
  line-height: 1.5;
  min-height: 100vh;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
botton,
textarea,
select {
  font: inherit;
}

@media (prefers-reduce-motion: reduce) {
  *,
*::after,
*::before {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html {
  font-size: 16px;
}

.flex {
  display: flex;
  --gap: var(gap; 0rem);
}

.grid {
  display: grid;
  --gap: var(gap; 0rem);
}

.page_body {
  background-color: #090b1a;
  position: relative;
}

.main_container {
  background-color: #1b1938;
  position: absolute;
  max-height: 29rem;
  max-width: 70rem;
  left: 15rem;
  top: 9.625rem;
  border-radius: 0.5rem;
}

.team_play {
  width: 35rem;
  height: 29rem;
  background: linear-gradient(0deg, rgba(18, 9, 77, 0.54), rgba(110, 17, 153, 0.69)), url(./images/image-header-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 0.5rem 0.5rem 0;
}

.description_stats {
  max-width: 35rem;
  place-items: center;
  margin-inline: 4rem;
}
.description_stats .grow_business {
  font-family: "Inter", sans-serif;
  width: 25rem;
  font-weight: 700;
  font-size: 2rem;
}
.description_stats .grow_business > p {
  color: white;
}
.description_stats .grow_business > p > span {
  color: #aa5cdb;
}
.description_stats .analytics_text {
  width: 24rem;
}
.description_stats .analytics_text > p {
  color: rgba(255, 255, 255, 0.75);
  place-items: start;
  font-size: 0.9375rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
.description_stats .main_stats {
  width: 25rem;
  justify-content: space-between;
  color: white;
}
.description_stats .main_stats .companies {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 1.75rem;
}
.description_stats .main_stats .companies > span {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  font-size: 0.9375rem;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.75);
}
.description_stats .main_stats .templates {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 1.75rem;
}
.description_stats .main_stats .templates > span {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  font-size: 0.9375rem;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.75);
}
.description_stats .main_stats .queries {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 1.75rem;
  text-transform: uppercase;
}
.description_stats .main_stats .queries > span {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  font-size: 0.9375rem;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.75);
}

.page_footer {
  position: absolute;
  bottom: 0;
  left: 50%;
}
.page_footer .attribution {
  font-size: 11px;
  text-align: center;
}
.page_footer .attribution a {
  color: #3e52a3;
}

/*# sourceMappingURL=index.css.map */
